body{
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.margin {
    margin-top: 4rem;
}

.gray {

    margin-bottom: 2rem;
    padding: 2rem;

}

.form-box {
    background: #ddd;
    width: 100%;
    padding: 5rem 4rem;
}

.form-box h1 {

    margin-bottom: 5rem;
    font-size: 3.2rem;
}
form label{
    margin: 1rem 0;
}
.button-div button {
    width: auto;
    margin-top: 3rem;
    padding: 0.4rem 2rem;

}

#Visit {}
.form-group{
    position: relative;
}
.formm-control {

    border:0;
    background: none;
    text-align: center;
    width: 20%;
    border: 1px solid black;
    border-radius: 1rem;
    transition: 0.6s;
    margin: 1.5rem 0;
    position: absolute;
    top: 50%;
    left:40%;
    ;

}

.formm-control:focus {
    width: 100%;
    border: 2px solid black;
    background: white;
    left:0%;
   
}

.URL-box {

    width: 100%;
    padding: 2rem 4rem;
    border-left: .5px double #ddd;
    border-bottom: .5px double #ddd;


}

.book-h3 {

    font-size: 1.7rem;
    margin-right: 2rem;
    transition: 0.3s;
    padding: 0.2rem;
}

/*media querey for samsung s5*/
@media(max-width:800px) {
    .gray {

        margin-bottom: 1rem;
        padding: 1rem;
    }

    .gray h1 {
        font-size: 3rem;
    }

    .margin {
        margin-top: .5rem;
    }

    .form-box {
        background: #ddd;
        width: 100%;
        padding: 1rem 1rem;
    }

    .form-box h1 {
        margin-bottom: 4rem;
        font-size: 1.5rem;
    }

    .URL-box {

        width: 100%;
        padding: 1rem 1rem;
        border-left: .2px double #ddd;
        border-bottom: .2px double #ddd;
        box-shadow: 1px 2px #ddd;

    }

    .URL-box button {
        font-size: .7rem;

    }

    .book-h3 {

        font-size: 1.3rem;
        margin-right: 0.1rem;



    }
}
